body{
  margin: 0;
}

.container{
  width:55%;
  margin: 0 auto;
  margin-top: 2%;

}

.scoreContainer{
  display: flex;
  justify-content: center  ;
  margin: 2rem 0px;
  gap: 20px;
}

.scoreContainer *{
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bol;
}


.choose{
  margin: 20px 0px 30px 0px;
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.imgContainer{
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-bottom: 2rem;
}

.imgContainer img {
  border: 3px solid black;
  border-radius: 5%;
  width: 20%;
  transition: transform .3s;
  min-width: 120px;
}

.imgContainer img:hover {
  transform: rotate(10deg);
}

.bot{
  display: flex;
  justify-content: center;
  gap: 10px;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.score{
  font-size: 2rem;
  margin: 0;
}


.choices{
  border: 5px solid red;
  width: 20vw;
  height: 20vw;
  border-radius: 20px;
  min-width: 200px;
  min-height: 200px;
}

#vs{
  width: 15rem;
  height: 20rem;
}
#playerChoice{
  border-color: rgb(132, 255, 132);
  color: white;
  background-color: rgb(0, 0, 0);
}

@media (max-width: 1300px) {
  #vs{
    display: none;
  }
  .choose{
    font-size: 3.5rem !important;
  }
  .score, span{
    font-size: 2.5rem;
  }

}

@media (max-width: 800px) {
  .choose{
    font-size: 2.5rem !important;
  }
  .score, span{
    font-size: 1.5rem;
  }

}